* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #050505;
    color: white;
}

header {
    width: 100%;
    padding: 25px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 32px;
    font-weight: bold;
    letter-spacing: 5px;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 25px;
    font-size: 15px;
}

.hero {
    height: 80vh;
    display: flex;
    align-items: center;
    padding: 50px;
    background: linear-gradient(
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.8)
    );
}

.content h1 {
    font-size: 60px;
    max-width: 600px;
    letter-spacing: 2px;
}

.content p {
    margin-top: 20px;
    font-size: 20px;
    color: #ccc;
}

button {
    margin-top: 35px;
    padding: 15px 40px;
    background: white;
    color: black;
    border: none;
    font-weight: bold;
    cursor: pointer;
}

.collection {
    text-align: center;
    padding: 80px 20px;
}

.collection h2 {
    font-size: 40px;
}

footer {
    text-align: center;
    padding: 30px;
    color: #777;
}
.product-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-image img {
    width: 420px;
    max-width: 90%;
    filter: drop-shadow(0 20px 40px rgba(0,0,0,0.7));
    transition: transform 0.5s ease;
}

.product-image img:hover {
    transform: scale(1.05);
}

.hero {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}
.products {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 50px;
    flex-wrap: wrap;
}

.card {
    background: #111;
    padding: 25px;
    width: 300px;
    text-align: center;
    border-radius: 10px;
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-10px);
}

.card img {
    width: 100%;
}

.card h3 {
    margin-top: 20px;
    font-size: 22px;
}

.card p {
    color: #aaa;
    margin-top: 10px;
}
.product-link {
    text-decoration: none;
    color: white;
}
.product-page {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
    padding: 80px 50px;
}

.product-photo img {
    width: 450px;
    max-width: 90%;
}

.product-info {
    max-width: 400px;
}

.product-info h1 {
    font-size: 40px;
}

.product-info h2 {
    margin: 20px 0;
}

.sizes {
    display: flex;
    gap: 10px;
    margin: 25px 0;
}

.sizes button {
    background: transparent;
    color: white;
    border: 1px solid #555;
    padding: 10px 18px;
}

.cart-btn {
    width: 100%;
    background: white;
    color: black;
}